#profile-container {
  width: 90%;
  height: 100%;
  font-family: 'Inconsolata';
  background-color: #FFFFFF;
  color: #111111;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

    .profile-titles {
      width: 100%;
      text-align: center;
      margin: 10px 0;
      font-size: 40px;
    }

    .profile-inputs {
      font-size: 30px;
      font-family: 'Inconsolata';
      border: 1px solid #DDDDDD;
      text-align: center;
      margin: 10px 0;
    }

    #profile-name {
      font-size: 30px;
    }

    #profile-bio-input {
      width: 70%;
      height: 50%;
      font-size: 20px;
      font-family: 'Inconsolata';
      border: 1px solid #DDDDDD;
    }

  #profile-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

    #profile-button {
      background-color: #111111;
      color: #FFFFFF;
      width: 130px;
      height: 130px;
      font-size: 25px;
      border-radius: 100px;
    }


