#profile-container {
  width: 80%;
  height: 100%;
  font-family: 'Inconsolata';
  background-color: #FFFFFF;
  color: #111111;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

    .profile-titles {
      width: 100%;
      text-align: center;
    }

    .profile-inputs {
      font-size: 20px;
      font-family: 'Inconsolata';
      border: 1px solid #DDDDDD;
      text-align: center;
    }

    #profile-bio-input {
      width: 70%;
      height: 50%;
      font-size: 20px;
      font-family: 'Inconsolata';
      border: 1px solid #DDDDDD;
    }


