#eventpost-container {
  width: 100vw;
  height: 120vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#eventpost-sub-container {
  height: 60%;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  background: rgba(11, 11, 11, 0.8);
  border-radius: 50px;
  padding-left: 50px;
}

.eventpost-text {
  width: 70%;
  font-family: 'Inconsolata';
  opacity: 2;
}

  #eventpost-title {
    font-size: 100px;
    color: #F012BE;
  }

  #eventpost-subtitle {
    font-size: 50px;
    color: #FFFFFF;
  }

  #eventpost-phone {
    font-size: 30px;
    margin: 10px 0;
    color: #F012BE;
  }

  #eventpost-input-container {
    width: 70%;
    display: flex;
    justify-content: flex-start;
  }

    #eventpost-input {
      margin: 20px 0;
      font-size: 40px;
      font-family: 'Inconsolata';
      padding: 15px;
      border: none;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
    }

    #eventpost-button {
      font-family: 'Inconsolata';
      margin: 20px 0;
      padding: 15px;
      font-size: 40px;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
      color: #111111;
      background-color: #F012BE;
    }

    #eventpost-button:hover {
      background-color: red;
      cursor: pointer;
    }
