#account-container {
  background-color: #FFFFFF;
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  #left-sub-account-container {
    width: 30%;
    height: 100%;
    font-family: 'Inconsolata';
    background-color: #FFFFFF;
    color: #111111;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
  }

    .account-button-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .account-buttons {
      width: 130px;
      height: 130px;
      font-size: 25px;
      padding: 20px;
      text-align: center;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #111111;
      text-decoration: none;
      color: #FFFFFF;
    }

    .account-buttons:hover {
      background-color: #2ECC40;
      color: #111111;
    }

    .account-buttons:focus {
      outline: none;
    }

  #right-sub-account-container {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
