#app-container {
  display: flex;
  height: 100vh;
  overflow: scroll;
}

  #app-left-sub-container-hidden {
    width: 0;
    transition: width 1s;
    z-index: -1;
  }

  #app-left-sub-container-show {
    width: 20vw;
    transition: width 1s;

  }

  #app-right-sub-container {
    width: 100vw;
    overflow-x: hidden;
    filter: none;
    transition: 0.5s filter;
  }

   #app-right-sub-container-blur {
    width: 100vw;
    overflow-x: hidden;
    filter: blur(5px);
    transition: 0.5s filter;
  }

  @keyframes movingGradient {
    0%{background-position:0% 86%}
    100%{background-position:100% 15%}
    /*100%{background-position:0% 86%}*/
  }
