@font-face {
  font-family: 'Signerica_Thin';
  src: url('./Signerica_Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Signerica_Medium';
  src: url('./Signerica_Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Signerica_Fat';
  src: url('./Signerica_Fat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

