#signup-container {
  width: 100%;
  /*height: 200px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #FFFFFF;

  font-family: 'Inconsolata';
}

  #signup-title {
    width: 100%;
    text-align: center;
    color: #111111;
    /*font-size: 1vw;*/
  }

  .signup-input-containers {
    width: 100%;
    text-align: center;
  }

    .signup-inputs {
      width: 60%;
    }

    #signupButton {
      width: 60%;
      /*font-size: 1vw;*/
    }
