#artistpost-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: auto;
  height: 100%;
  font-family: 'Inconsolata';
  font-size: 30px;
  margin: 0 30px;
}

  .artistpost-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .artistpost-image {
    width: auto;
    height: 300px;
    border-radius: 300px;
  }

  .artistpost-text {
    margin: 20px 0;
  }
