#header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: #FFFFFF;

}

  #sub-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 170px;
    background-color: #FFFFFF;
    color: #111111;
    flex-wrap: wrap;
    border-bottom: 1px solid #DDDDDD;

    /*background: linear-gradient(238deg);
    background-image: url('index.jpg');
    background-size: 200% 400%;
    animation: movingGradient 90s ease infinite;
*/
  }

    #header-title {
      font-family: 'Signerica_Thin';
      font-size: 60px;
      width: 60vw;
      height: 60px;
      text-align: center;
      margin: 0;
    }

    #header-subtitle {
      font-family: 'Times';
      width: 60vw;
      text-align: center;
      margin-top: 30px;
      height: 15px;
      font-size: 15px;
    }

