#navbar-container {
  width: 100vw;
  height: 80px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  }

  #navbar-button-container {
    width: 50vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

    .navbar-button {
      font-family: 'Inconsolata', monospace;
      box-sizing: border-box;
      width: 100px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      cursor: pointer;
      background-color: #FFFFFF;
      color: #111111;
    }

    .navbar-button:hover {
      background-color: #111111;
      color: #FFFFFF;

    }

    .navbar-button:focus {
      outline: none;
    }

    #navbar-account-button {
      background-color: #111111;
      color: #FFFFFF;
      visibility: hidden;
    }

    #navbar-account-button:hover {
      background-color: #FFFFFF;
      color: #111111;
    }

  #navbar-social-media-container {
    width: 15vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

    .navbar-logos {
      width: 3.5vh;
      height: 3.5vh;
      margin: 0 0.5vw;
      border-radius: 6px;
      cursor: pointer;
      transition: width 0.5s, height 0.5s;
    }

    .navbar-logos:hover {
      width: 6vh;
      height: 6vh;
      transition: width 0.5s, height 0.5s;
    }

    #twitter {
      filter: invert(100%);
      border: 2px solid white;
      box-sizing: border-box;
    }

    #facebook {
      filter: invert(100%);
    }

    #soundcloud {
      filter: invert(100%);
      border: 2px solid white;
      box-sizing: border-box;
    }

  #soundcloud-player {
    width: 100vw;
    transition: opacity 1s, visibility 1s;
  }

