/*#sticky-container {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}
*/
#navbar-container {
  position: sticky;

  width: 100vw;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  }

  #navbar-button-container {
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

    .navbar-button {
      font-family: 'Inconsolata', monospace;
      box-sizing: border-box;
      width: 100px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      background-color: #FFFFFF;
      color: #111111;
    }

    .navbar-button:hover {
      border: 2px solid black;
    }

    .navbar-button:focus {
      outline: none;
    }

  #navbar-social-media-container {
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

    .navbar-logos {
      width: 3.5vh;
      height: 3.5vh;
      margin: 0 0.5vw;
      border-radius: 6px;
    }

    .navbar-logos:hover {
      filter: hue-rotate(90deg);
    }

    /*#twitter {
      border-radius: 5px;
    }*/

  #navbar-search-container {
    display: flex;
    align-items: center;
    width: 60px;
    height: 50px;
    border: solid black;
  }

    #navbar-search {
      width: 30px;
      height: 30px;
      margin-left: 10px;
    }


