#about-container {
  background-color: #FFFFFF;
  width: 100vw;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  #sub-about-container {
    width: 60vw;
    font-family: 'Inconsolata';
    background-color: #FFFFFF;
    color: #111111;
  }

  #about-text {
    text-align: left;
    font-size: 50px;
  }

  .about-span {
    animation: colorchange 10s infinite;
  }

  @keyframes colorchange {
    0% { color: white; }
    5% { color: #0074D9; }
    50% { color: #3D9970; }
    70% { color: #F012BE; }
    95% { color: #FF851B; }
    100% { color: white; }
  }
