#about-container {
  background-color: #FFFFFF;
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sub-about-container {
  width: 60vw;
  font-family: 'Inconsolata';
  background-color: #FFFFFF;
  color: #111111;
}
