#sidebar-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

  #sidebar-button {
    width: 60%;
    height: initial;
  }

  #sidebar-button:focus {
    outline: none;
  }

