#detailedBlogPost-container{
  width: 100%;
  border-top: 1px solid #DDDDDD;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

  #detailedBlogPost-image-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .detailedBlogPost-text {
    font-family: 'Inconsolata';
    text-align: center;
    width: 80%;
  }

  #detailedBlogPost-title {
    font-size: 80px;
  }

  #detailedBlogPost-subtitle {
    font-size: 40px;
  }

   #detailedBlogPost-content {
    font-size: 25px;
  }
