#contact-container {
  background-color: #FFFFFF;
  width: 100vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#sub-contact-container {
  margin: 50px 0;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

  .sub-contact-p-tag{
    width: 80%;
    font-size: 30px;
    font-family: 'Inconsolata';
  }

  #contact-input-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }

  .contact-inputs {
    height: 40px;
    font-size: 30px;
    font-family: 'Inconsolata';
    padding-left: 15px;
    border: 1px solid #DDDDDD;
    margin: 10px 0;
  }

  #contact-message-input {
    margin-top: 40px;
    width: 500px;
    height: 180px;
  }

  #contact-button {
    margin-top: 30px;
    font-family: 'Inconsolata';
width: 130px;
      height: 130px;
      font-size: 25px;
      padding: 20px;
      text-align: center;
      border-radius: 100px;
background-color: #111111;
color: #FFFFFF;
  }

  #contact-button:hover {
    background-image: url('splatter.jpg');
      background-size: 300% 300%;
color: #111111;
cursor: pointer;
  }


