#contact-container {
  background-color: #FFFFFF;
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  #sub-contact-container {
    width: 60vw;
    font-family: 'Inconsolata';
    background-color: #FFFFFF;
    color: #111111;
    text-align: center;
  }

  .contact-inputs {
    height: 40px;
    font-size: 20px;
    font-family: 'Inconsolata';
    padding-left: 15px;
    border: 1px solid #DDDDDD;
  }
