#accountBlogPosts-container {
  width: 80%;
  height: 100%;
  font-family: 'Inconsolata';
  background-color: #FFFFFF;
  color: #111111;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
