#login-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  margin-top: 100px;
}

    .login-inputs {
      width: 60%;
      font-family: 'Inconsolata';
      border: 1px solid #DDDDDD;
      font-size: 20px;
      margin: 20px 0;
      text-align: center;
    }

    #loginButton {
      width: 60%;
      height: 50px;
      background-color: #111111;
      color: #FFFFFF;
      font-family: 'Inconsolata';
      margin: 20px 0;
    }

    #loginButton:focus {
      outline: none;
    }

    #loginButton:hover {
      background-color: #FFFFFF;
      color: #111111;
      cursor: pointer;
    }
